{% extends 'website/page.html' %}
{% load static %}


{% block body %}

<div class="container-fluid m-0 p-0">

    {% include 'website/menu.html' %}
    {% include 'website/banner.html' %}

    {% if company.about_us %}
    {% include 'website/about_us.html' %}
    {% endif %}

    <div class="row m-0 p-0 bg-light">
        <a href="{% url 'website:product_page' %}#id_produtos" class="col-12 text-center text-decoration-none"
            style="padding-top: 50px; padding-bottom: 50px;"><span class="h1 text-secondary"> Conheça nossos produtos
            </span></a>
    </div>

    {% for category, products in categories.items %}
    <div class="row m-0 p-0 {%cycle 'bg-white' 'bg-light' %}">
        <div class="row m-0 pt-4">
            <div class="h1 py-4 text-success text-center">{% if category.show_title %}{{category.title}}{% endif %}
            </div>
            {% for product in products %}
            <div class="col-lg-4 col-sm-12 mt-2 mt-sm-0 mb-4">
                <div class="card shadow" style="max-height: 480px; min-height: 480px;">
                    <div class="card-header fw-bold fs-3 rounded"> {{product.display_text}} </div>
                    <div class="card-body overflow-auto p-2">
                        <div> {{product.briefing|safe}}</div>
                    </div>
                    {%if product.application_info %}
                    <div class="card-body p-2 pb-0 d-flex">
                        <div class="align-self-end flex-fill pb-2">{{product.application_info|safe}}</div>
                    </div>
                    {% endif %}
                    <div class="card-footer bg-transparent m-0 p-0 ps-2 pt-2">
                        <a href="{% url 'website:product_page' %}#product_{{product.pk}}"
                            class="text-success text-decoration-none">
                            Saiba mais
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="d-flex px-4 flex-wrap py-4 justify-content-center">
            {% for document in category.categorydocument_set.all %}
            <a href="{% url 'website:category_document_detail' document.pk %}"
                class="mx-4 text-decoration-none text-secondary">{{document.display_text}} </a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

    <div class="row m-0 p-0 pt-4 bg-black">
        <div class="col mt-2">
            <div class="d-flex flex-row justify-content-center" style="padding-top: 150px; padding-bottom: 150px;">
                <i class="bi bi-shield-check text-light h1 me-4 pt-2" style="font-size: 6rem;"></i>
                <div>
                    <p class="text-success my-0 py-0 display-5">Mais segurança </p>
                    <p class="text-success my-0 py-0 display-5">para suas transações</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0 p-0 my-4 py-4">
        <div class="col mt-2">
            <p class="text-success my-0 py-0 h1 text-center">Comece a investir</p>
            <p class="my-0 py-0 h4 text-center mt-4">Gerencie seus próprios investimentos</p>
            <div class="row mt-4 pt-4">
                <div class="col-4 mt-2 text-center">
                    <div class="m-auto rounded-circle" style="width: 90px; height: 90px">
                        <img src="{% static 'website/wallet.png' %}" width="100%">
                    </div>
                    <p class="text-success my-0 py-0 h2 text-center mt-4">Passo 1 </p>
                    <p class="text-secondary my-0 py-0 h4 text-center mt-4"> Abra sua conta</p>
                </div>
                <div class="col-4 mt-2 text-center">
                    <div class="m-auto rounded-circle" style="width: 90px; height: 90px">
                        <img src="{% static 'website/doc.png' %}" width="100%">

                    </div>
                    <p class="text-success my-0 py-0 h2 text-center mt-4">Passo 2 </p>
                    <p class="text-secondary my-0 py-0 h4 text-center mt-4"> Prencha seu cadastro</p>
                </div>
                <div class="col-4 mt-2 text-center">
                    <div class="m-auto rounded-circle" style="width: 90px; height: 90px">
                        <img src="{% static 'website/scalable.png' %}" width="100%">
                    </div>
                    <p class="text-success my-0 py-0 h2 text-center mt-4">Passo 3 </p>
                    <p class="text-secondary my-0 py-0 h4 text-center mt-4"> Contrate um produto <br> e comece a
                        investir</p>
                </div>
            </div>
            <br>
            {% if config.ACCOUNT_ENABLE_SIGNUP %}
            <div class="row mt-4">
                <div class="col mt-2 text-center">
                    <a href="{% url 'account_signup' %}"
                        class="bg-success text-black p-3 rounded-pill h4 text-decoration-none"> Abra sua conta</a>
                </div>
            </div>
            {% endif %}
            <br>
            <br>
        </div>
    </div>

    {% if faq %}
    {% include 'website/faq.html' %}
    {% endif %}

    {% include 'website/footer.html' %}

</div>
{% endblock %}