django==3.2
django-environ==0.8.1
psycopg2==2.9.3
django-allauth==0.47.0
django-invitations==1.9.3
django-tables2==2.4.1
django-crispy-forms==1.14.0
crispy-bootstrap5==0.6
django-constance[database]==2.8.0
pathvalidate==2.5.0
whitenoise==6.0.0
python-dateutil==2.8.2
django-nested-admin==3.4.0
django-extra-views==0.14.0
django-flatpickr==1.0.1
django-tinymce==3.4.0
celery==5.2.3
redis==4.2.0
django-celery-beat==2.2.1
channels==3.0.4
channels-redis==3.4.0
djangorestframework==3.13.1
djangorestframework-simplejwt==5.1.0
drf-spectacular==0.22.0
drf-spectacular-sidecar==2022.4.1
django-cors-headers==3.11.0
django-simple-history==3.1.1
django-select2==7.10.0
django-db-logger==0.1.12
Pillow==9.2.0