{% extends 'common/base.html' %}
{% load i18n %}
{% load account %}

{% block content %}
  <div class="container-fluid p-0 m-0">

    <div class="card bg-light">
        
        <div class="card-header">
            <div class="h2 text-secondary pb-2">Arterar senha</div>
        </div>
        
        <div class="card-body">
            <div class="text-secondary pb-2"> 
                <p>A sua senha foi alterada com sucesso!</p>
                <a href="{% url 'account_login' %}">Fazer login</a>
            </div>
        </div>

    </div>
</div>
{% endblock %}