CELERYD_NODES="worker1"

CELERY_BIN="{{celery_bin}}"

CELERY_APP="{{celery_app_name}}"

CELERYD_CHDIR="{{celery_work_dir}}"

# %n will be replaced with the first part of the node name.
CELERYD_LOG_FILE="{{celery_log_dir}}/%n%I.log"
CELERYD_PID_FILE="{{celery_pid_file_dir}}%n.pid"

CELERYD_USER="{{celery_user}}"
CELERYD_GROUP="{{celery_group}}"
CELERYD_LOG_LEVEL="{{celery_log_level}}"

# If enabled PID and log directories will be created if missing,
# and owned by the userid/group configured.
CELERY_CREATE_DIRS=1

# you may wish to add these options for Celery Beat
CELERYBEAT_LOG_FILE="{{celery_log_dir}}/celery_beat.log"
CELERYBEAT_PID_FILE="{{celery_pid_file_dir}}/celery_beat.pid"