{% extends 'common/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid mt-2">
    <div class="card">
        <div class="card-header">
            {% block page_title %}
            <div class="h2 text-success pb-2"> {{title}}</div>
            {% endblock %}
            {% block page_header %}
            {% endblock %}
        </div>
        <div class="card-body">
            {% block page_boby %}
            {% endblock %}
        </div>
        <div class="card-footer bg-transparent">
            {% block page_footer %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}