<div class="modal fade noprint" id="term_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content" style="border: none">
      <div class="modal-header noprint">
        <h5 class="modal-title" id="exampleModalLabel">Termo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body print">
      </div>
      <div class="modal-footer noprint">
        <button type="button" class="btn btn-secondary" onclick="js:window.print()">Imprimir</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>