<div class="row">
    <div class="col-md-4 p-3">
        <div class="shadow-sm bg-body rounded" id="card_id1"></div>
    </div>
    <div class="col-md-4 p-3">
        <div class="shadow-sm bg-body rounded" id="card_id2"></div>
    </div>
    <div class="col-md-4 p-3">
        <div class="shadow-sm bg-body rounded" id="card_id3"></div>
    </div>
</div>
<div class="row" >
    <div class="col-md-6" style="height:335px;">
        <div class="shadow-sm p-3  bg-body rounded" id="line_chart_id1"></div>
    </div>
    <div class="col-md-6" style="height:300px">
        <div class="shadow-sm p-3 bg-body rounded" id="line_chart_id2"></div>
    </div>
</div>
<div class="row mt-4" >
    <div class="col-md-6" style="height:300px">
        <div class="shadow-sm p-3 bg-body rounded" id="line_chart_id3"></div>
    </div>
    <div class="col-md-6" style="height:300px">
        <div class="shadow-sm p-3 bg-body rounded" id="line_chart_id4"></div>
    </div>
</div>
