{% extends 'common/page.html' %}
{% load common_tags %}

{% block content %}
<div class="container-fluid pt-2 m-0">
    <div class="text-success text-center h1" style="padding-top: 10rem">Central de ajuda</div>
    {% if company.contact_email %}
    <div class="fs-3 mt-4 text-center text-secondary">{{company.contact_email}}</div>
    {% endif %}
    {% if faq %}
    <div class="row m-0 p-0">
        <span class="h1 text-secondary pt-4 text-center mt-4"> {{faq.title}} </span>
    </div>
    <div class="row p-0 m-0">
        <div class="d-flex justify-content-center pt-4 pb-4 mb-4" >
            <div style="min-width: 60%">
                {% for item in faq.objects %}
                <div class=" py-2">
                    <a class="d-flex text-decoration-none text-dark fw-bold m-0 p-0" data-bs-toggle="collapse"
                        href="#id_question_{{item.pk}}" role="button" aria-expanded="false" aria-controls="collapseExample"">
                        <div class="flex-grow-1">{{item.question}}</div> <i class="bi bi-caret-down-fill"></i>
                    </a>
                </div>
                <div class="collapse ps-2" id="id_question_{{item.pk}}">
                    {{item.answer|safe}}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}